<link rel="stylesheet" href="<%= assetPath('css/signin.css') %>">

<body>
    <h1><%=title%></h1>
    <form action="/users/verify-user" method="POST">
        <label for="email">Email</label>
        <input type="email" required name="email">
        
        <label for="password">Password</label>
        <input type="password" required name="password">
        <button type="submit">Sign in</button>
    </form>
    <p>
        <a href="/users/auth/google">Google sign-in/sign-up</a>
    </p>
    <p>
        <a href="">Forgot Password</a>
    </p>
</body>